<div id="title">
    <h1>JysMoll</h1>
</div>
<nav id="nav">
    <ul id="nav-list">
        <li class="nav-list-item">국어</li>
        <li class="nav-list-item">수학</li>
        <li class="nav-list-item">사회</li>
        <li class="nav-list-item">과학</li>
        <li class="nav-list-item">영어</li>
    </ul>
</nav>
<div id="members">
    <label id="signin">SignIn</label>
    <label id="signup">SignUp</label>
    <label id="myinfo" hidden>MyInfo</label>
    <label id="logout" hidden>Logout</label>
</div>