<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/home.css"/>
</head>
<body>
    <div id="container">
        <header id="header"></header>
        <article id="article">
            <div><label>123</label></div>
            <div><label>123</label></div>
            <div><label>123</label></div>
            <div><label>123</label></div>
            <div><label>123</label></div>
            <div><label>123</label></div>
            <div><label>123</label></div>
            <div><label>123</label></div>
            <div><label>123</label></div>
            <div><label>123</label></div>
        </article>
        <footer id="footer"></footer>
    </div>
    <script type="application/javascript" src="js/main.js"></script>
</body>
</html>